.main{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.applepart1, .applepart2{
    background-color: black;
    height: 100%;
    width: 200px;
    border-radius: 45% 80px 90px 50%;
}

.applepart2{
    transform: scaleX(-1);
    margin-left: -50px;
}

.applepart2::after{
    content: '';
    display: flex;
    width: 120px;
    height: 140px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: -70px;
    background-color: white;
}

.applepart2::before{
    content: '';
    display: flex;
    background-color: black;
    height: 80px;
    width: 28px;
    margin-top: -80px;
    margin-left: 115px;
    border-radius: 100%;
    transform: rotate(-40deg);
}